<!-- minified jquery -->
<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
<!-- bootstrap js files -->
<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
<!-- custom js files -->
<script type="text/javascript" src="/js/custom/app.js"></script>
</body>
</html>
