<!-- minified jquery -->
<script type="text/javascript" src="/scripts/vendor/jquery/dist/jquery.min.js"></script>
<!-- bootstrap js files -->
<script type="text/javascript" src="/scripts/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<!-- custom js files -->
<script type="text/javascript" src="/js/custom/app.js"></script>
</body>
</html>
